<phpunit bootstrap="Tests/Boot.php">
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">Source/</directory>
		</whitelist>
	</filter>
	<testsuites>
		<testsuite name="Snuggle">
			<directory>Tests/</directory>
		</testsuite>
	</testsuites>
	<logging>
		<log type="coverage-clover" target="Build/Logs/Clover.xml"/>
	</logging>
</phpunit>